:root {
  --primary: #f5f7fa;
  --secondary: #7a57d1;
  --accent:#5be7c4;
  --text-underline: 0.1em solid var(--accent);;
  --heading-underline: 0.1em solid var(--secondary);
  --primary-text: black;
  --secondary-text: #4fc1e9;
  --primary-font-type: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
